* {
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
}
#logo {
	width: 75pt;
	height: 75pt;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	background-color: rgb(10 10 10);
}
#menu {
	display: flex;
	padding-right: 50pt;
	padding-top: 50px;
}
#menu a {
	padding: 0 20pt;
	font-family: Book Antiqua;
	font-size: 16pt;
	font-style: italic;
	color: rgb(248, 246, 191);
}
#menu a:hover {
	color: white;
}
#logotype_with_name {
	display: flex;
	padding-left: 50pt;
}
a {
	text-decoration: none; 
	user-select: none;
	color: black;
}
.logotype_name {
	padding-top: 30px;
	padding-left: 10pt;
	width: 200pt;
}
.slider {
	background-image: url(background.png);
	background-size: cover;
	width: 87.5%;
	height: 400pt;
	margin: 0 50pt;
	display: flex;
	align-items: center;
}
.slider_img_big {
	border: solid 5px rgb(248,246,190);
	border-radius: 50%;
	width: 300pt;
	height: 300pt;
	cursor: pointer;
}
p {
	font-family: Book Antiqua;
	font-size: 16pt;
	font-style: italic;
	text-align: justify;
}
.main_text {
	width: 40%;
}
.slider_img_small {
	border: solid 5px rgb(248,246,190);
	border-radius: 50%;
	width: 100pt;
	margin: 10pt;
	cursor: pointer;
}
.slider_div_with_img_small {
	padding-left: 20pt;
	display: flex;
	flex-direction: column;
}
.slider_text {
	padding: 0 20pt;
}
#slider_logo {
	padding-left: 40pt;
}
h1 {
	font-family: Book Antiqua;
	font-size: 34pt;
	font-style: italic;
	color: rgb(248, 246, 191);
	text-align: center;
	letter-spacing: 0.07em;
}
.main_div {
	background-image: url(background.png);
	background-size: cover;
	width: 87.5%;
	height: 500pt;
	margin: 0 50pt;
	display: flex;
}
.div_about_company {
	width: 87.5%;
	height: 400pt;
	margin: 0 50pt;
	background-color: black;
}
.div_with_bcg_violet {
	background-image: url(background.png);
}
.div_bigger {
	height: 600pt;
}
.img_about_company {
	width: 240pt;
	height: 240pt;
	border: solid 5px rgb(142, 91, 183);
	border-radius: 10%;
}
.icon_near_h1 {
	width: 50pt;
	height: 40pt;
	padding-left: 10pt;
}
.h_img {
	display: flex;
	justify-content: center;
	padding: 30pt 0;
}
.div_about_company_div {
	display: flex;
	align-items: center;
	padding: 0 20pt;
}
.div_about_company_div p {
	color:white;
	padding-left: 50pt;
}
.div_bestsellers{
	background-image: url(background_bestsellers.png);
	background-size: cover;
	width: 87.5%;
	height: 400pt;
	margin: 0 50pt;
}
.div_bestsellers h1{
	color: rgb(142, 91, 183);
}
.img_product {
	width: 180pt;
	border-radius: 50%;
	border: solid 5px rgb(142, 91, 183);
}
.img_product_smaller{
	width: 140pt;
}
.img_product_crem {
	border: solid 5px rgb(248, 246, 191);
}
.product_card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 30%;
}
.product_card_smaller {
	width: 25%;
}
.products {
	display: flex;
	justify-content: space-between;
	padding: 0 30pt;
}
.product_card p {
	text-align: center;
	padding: 7pt 30pt 0 0;
}
.product_card:hover p{
	color: rgb(142, 91, 183);
}
.product_card:hover p{
	color: white;
}
.product_card:hover .img_product{
	color: rgb(142, 91, 183);
	border: solid 5px white;
}
.product_card:hover .img_product_crem{
	color: white;
	border: solid 5px rgb(142, 91, 183);
}
footer {
	width: 87.5%;
	height: 200pt;
	margin: 0 50pt;
}
footer .icon_near_h1{
	width: 40pt
}
.foot_img {
	width: 250pt;
	height: 200pt;
}
th {
	color: white;
	font-family: Book Antiqua;
	font-size: 19pt;
	font-style: italic;
	padding-left: 20pt;
	text-align: left;
}
.icon_footer {
	width: 20pt;
}
.cave {
	display: flex;
	justify-content: space-between;
}
.img_about_company {
	width: 240pt;
	height: 240pt;
	border: solid 5px rgb(142, 91, 183);
	border-radius: 10%;
}

.img_box {
	width: 80%;
	border-radius: 15%;
	border: solid 5px rgb(142, 91, 183);
}
.img_box_smaller{
	width: 140pt;
}
.img_box_crem {
	border: solid 5px rgb(248, 246, 191);
}
.box_card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 30%;
}

.hint{
display: inline-block;
position: relative;
}

.hint:hover::after{
  	content: attr(data-title);
  	width: 100%;
  	height: 50%;
  	position: absolute;
  	left: 50%; right: 0px; bottom: -20%;
  	z-index: 1;
  	background-image: url(background_hint.png);
  	background-repeat: no-repeat;
  	background-size: contain;: 
  	color: black;
  	text-align: center;
  	font-family: 'Monotype Corsiva';
  	font-size: 15px;
  	padding: 0px 0px;
}


.box_card_smaller {
	width: 25%;
}
.box {
	display: flex;
	justify-content: space-between;
	padding: 0 30pt;
}
.box_card p {
	text-align: center;
	padding: 7pt 30pt 0 0;
}
.box_card:hover p{
	color: rgb(142, 91, 183);
}
.box_card:hover p{
	color: white;
}
.box_card:hover::after .img_box{
	color: rgb(142, 91, 183);
	border: solid 5px white;
}

}
.box_card:hover .img_box_crem{
	color: white;
	border: solid 5px rgb(142, 91, 183);
}

